h1 {
<<<<<<< HEAD
=======
    font-size: 60px;
    color: purple;
}

p {
    animation-name: p;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    font-size: 40px;
    border: 3px solid black;
    padding: 10px;
    margin: 20px;
    width: 200px;
    text-align: center;
}

@keyframes p {
    0% {opacity: 0%};
    100% {opacity: 100%};
>>>>>>> f2efc0ddf40e818044bea444e176b6d001b8cb0b
}